body{
    margin:0;
    font-family:Arial;
    background:#f5f7fa;
    text-align:center;
}

header{
    background:#34495e;
    color:white;
    padding:20px;
}

header img{
    width:120px;
    border-radius:50%;
}

section{
    background:white;
    margin:20px auto;
    padding:15px;
    width:80%;
    border-radius:8px;
}

.project{
    background:#ecf0f1;
    margin:10px;
    padding:10px;
    border-radius:5px;
}

footer{
    background:#34495e;
    color:white;
    padding:10px;
}